/*////////////// Fonts //////////////*/

h1 {
    font-weight: normal;
    font-family: 'Baskerville', serif;
}


/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif; 

}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */


div {
  display: block;
}

.wrapper img {
  border: 5px rgb(152,173,166) solid;
}

footer {
  text-align: right;
}

#press img:hover {
  border: 5px rgb(0, 0, 0) solid;
}